.container {
  width: 100%;
  height: 400px;
  color: white;
  padding: 20px;

  .opinion {
    position: relative;
    margin-top: 40px;
    background-color: inherit;
    padding: 20px;
    width: 100%;
    height: 300px;
    border-radius: 62px 0;
    box-shadow: inset 5px 5px 70px 0px rgba(240, 236, 236, 0.651);

    &:hover .arrow {
      display: block;
    }
    .imgBorder {
      height: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 62px 0;
      display: inline-block;
      width: 33.3%;
      padding: 10px;
    }

    img {
      opacity: 0.8;
      object-fit: cover;
      width: 100%;
      height: 250px;
    }
  }
  .Position {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .arrow {
    cursor: pointer;
    display: none;
  }

  .NavLink {
    color: white;
  }
}
