
.Slider{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.slide{
    margin-left: 20px;
    border-radius: 50%;
    height:100%;
    width:150px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
   
}