@import '../../../styles/settings.scss';
.component {
    width: 150px;
    border:none;
    border-radius: 20px;
    box-shadow: inset 15px 17px 45px -3px rgba(0, 0, 0, 0.788);
    background-color: inherit;
    cursor: pointer;
    color:white;
    font-size: 14px;
    padding:20px;
    transition: $transition;
    &:hover{
        box-shadow: $boxShadowBorder;
    }
}