@import '../../../styles/settings.scss';
.component {
    width: 180px;
    border:none;
    border-radius: 20px;
    box-shadow: inset 15px 17px 45px -3px rgba(0, 0, 0, 0.788);
    background-color: inherit;
    cursor: pointer;
    color:white;
    font-size: 14px;
    padding:20px;
    transition: $transition;
    &:hover{
        box-shadow: $boxShadowBorder;
    }
}
@media (max-width:1024px){
    .component {
        margin-top: 50px;
        font-size: 24px;
        padding: 20px;
        width: 260px;
    }
}
@media (max-width:768px) {
    .component{
        font-size: 20px;
        padding: 10px;
        width: 200px;
    }
}
@media (max-width:425px) {
    .component{
        font-size: 17px;
        padding: 10px;
        width: 150px;
    }
}
@media (max-width:360px){
    .component{
        margin-top: 30px;
        font-size: 12px;;
        padding:10px;
        width: 140px;
    }
}