@import '../../../styles/settings.scss';
@import '../../../styles/typography.scss';

.bestProduct {
  box-shadow: $boxShadowBorder;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  &:hover .arrow {
    display: block;
  }
  &:first-of-type {
    margin-top: 0px;
  }
  .arrow {
    cursor: pointer;
    display: none;
  }
  .price {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
  }
  .title {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .secondTitle {
    font-size: $font-second-title-size;
    color: white;
  }
  img {
    border-radius: 50%;
    height: 100px;
    object-fit: contain;
  }

  p {
    font-size: $font-properties-size;
    color: white;
    text-align: center;
  }
  .position {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 2560px) {
  .bestProduct {
    img {
      height: 200px;
    }
    .position {
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
@media (max-width: 1800px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1024px) {
  .bestProduct {
    img {
      height: 100px;
    }
  }
}
@media (max-width: 764px) {
  .bestProduct{
    display:none;
  }
}
@media (max-width: 425px) {
}
@media (max-width: 360px) {
}
