@import './settings.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    letter-spacing: 0.5px;
    
    min-height: 100vh;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}
.switchWrapper {
    position: relative;
  
    > :first-child ~ * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }


@import './typography.scss';