$color-light: #fff;
$color-dark: #222f3e;
$color-primary:#ff9f43;
$color-secondary:#218c74;

$font-size-a:12px;
$font-title-size:18px;
$font-second-title-size:16px;
$font-description-size:14px;
$font-properties-size:14px;

$boxRadius:62px 0;
$boxShadowBorder:inset 5px 5px 70px 0px rgba(240, 236, 236, 0.651);
$transition: linear 0.3s all;
